body { 
  display: grid;
  grid-template-areas: 
    "header header picture"
    "nav article places"
    "footer footer footer";
  grid-template-rows:  41% 41% 18%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-row-gap: 2.5px;
  height: 100vh;
  margin: 0;
  background-color: ivory;
  }

header{
  text-align: center;
  padding: 110px;
  font-size: 60px;
  color: #E0E0D8;
  font-family: 'Times New Roman', Times, serif;
} 

footer{
  text-align: center;
  padding: 55px;
  font-size: 30px;
  color:#434B56;
  font-family: 'Times New Roman', Times, serif;
}
  
article {
  text-align: center;
  padding: auto;
  font-size: 15px;
  color: #E0E0D8;
  margin: none;
} 

nav{
  text-align: center;
  padding: auto;
  font-size: 15px;
  color: #E0E0D8;
  margin: none;
}

places {
  text-align: center;
  padding: auto;
  font-size: 15px;
  color: #E0E0D8;
  margin: none;
}

#pageHeader {
  grid-area: header;
  background: #434B56;
}

#pageFooter {
  grid-area: footer;
  background: #E0E0D8;
}

#mainArticle { 
  grid-area: article;
  background: #606F82;
}

#af{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

#mainNav { 
  grid-area: nav; 
  background: #434B56;
}

#nf {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

#siteAds { 
  grid-area: places; 
  background:gray;
}

#df {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

#pagepic {
  grid-area: picture;
  background: #434B56
}

#Andre {
  text-align: center;
  padding: 40px;
}

img {
  display: block;
  margin: auto;
}

li{
display: inline-block;
}
            
a{
color: #E0E0D8;
}

a:hover{
background-color: ivory;
padding: 5px;
}

a:active{
background-color: #434B56;
}

a:visited{
color: #E0E0D8;
}

a { text-decoration:none } 

.button {

  background-color: #E0E0D8;

  border: none;

  color: #434B56;

  padding: 15px 80px;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 20px;

  cursor: pointer;

  font-family: 'Times New Roman', Times, serif;

}
